<h1>Should I take an umbrella?</h1>
<div>

<dl>
  <dt>User location</dt>
  <dd></dd>

  <dt>Latitude</dt>
  <dd></dd>

  <dt>Longitude</dt>
  <dd></dd>

  <dt>Current temperature</dt>
  <dd></dd>

  <dt>Current summary</dt>
  <dd></dd>

  <dt>Umbrella?</dt>
  <dd></dd> 
  </dl>
</div>

<p>
<a href="/umbrella">Go back</a>
</p>
