<h1>Should I take an umbrella?</h1>

<div>
<form action="/process_umbrella">
<label for="umbrella">Where are you located?</label>
<input id="umbrella" name="umbrella_input" text="text"></input>

<button>Submit</button>
</div>
